<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cwb.atmweb.dao.AtmInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cwb.atmweb.entity.AtmInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bankId" property="bankid" jdbcType="BIGINT" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="reader" property="reader" jdbcType="INTEGER" />
    <result column="printer" property="printer" jdbcType="INTEGER" />
    <result column="scanner" property="scanner" jdbcType="INTEGER" />
    <result column="depositSys" property="depositSys" jdbcType="INTEGER" />
    <result column="drawSys" property="drawSys" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="firstMoney" property="firstmoney" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bankId, brand, model,reader,printer,scanner,depositSys,drawSys, createTime, firstMoney
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from atminfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!-- 获取新atm的id -->
  <select id="selectAtmCountByBankId" resultType="java.lang.Long" parameterType="java.lang.Long">
    select count(id)
    from atminfo
    where bankId = #{bankId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from atminfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cwb.atmweb.entity.AtmInfo" >
    insert into atminfo (id, bankId, brand, 
      model, reader,printer,scanner,depositSys,drawSys,createTime, firstMoney
      )
    values (#{id,jdbcType=BIGINT}, #{bankid,jdbcType=BIGINT}, #{brand,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR},
      #{reader}, 
      #{printer}, 
      #{scanner}, 
      #{depositSys}, 
      #{drawSys}, 
      #{createtime,jdbcType=TIMESTAMP}, #{firstmoney,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cwb.atmweb.entity.AtmInfo" >
    insert into atminfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bankid != null" >
        bankId,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="reader != null" >
        reader,
      </if>
      <if test="printer != null" >
        printer,
      </if>
      <if test="scanner != null" >
        scanner,
      </if>
      <if test="depositSys != null" >
        depositSys,
      </if>
      <if test="drawSys != null" >
        drawSys,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="firstmoney != null" >
        firstMoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bankid != null" >
        #{bankid,jdbcType=BIGINT},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="reader != null" >
        #{reader},
      </if>
      <if test="printer != null" >
        #{printer},
      </if>
      <if test="scanner != null" >
        #{scanner},
      </if>
      <if test="depositSys != null" >
        #{depositSys},
      </if>
      <if test="drawSys != null" >
        #{drawSys},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstmoney != null" >
        #{firstmoney,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cwb.atmweb.entity.AtmInfo" >
    update atminfo
    <set >
      <if test="bankid != null" >
        bankId = #{bankid,jdbcType=BIGINT},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="reader != null" >
        reader = #{reader},
      </if>
      <if test="printer != null" >
        printer = #{printer},
      </if>
      <if test="scanner != null" >
        scanner = #{scanner},
      </if>
      <if test="depositSys != null" >
        depositSys = #{depositSys},
      </if>
      <if test="drawSys != null" >
        drawSys = #{drawSys},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstmoney != null" >
        firstMoney = #{firstmoney,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cwb.atmweb.entity.AtmInfo" >
    update atminfo
    set bankId = #{bankid,jdbcType=BIGINT},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      reader = #{reader},
      printer = #{printer},
      scanner = #{scanner},
      depositSys = #{depositSys},
      drawSys = #{drawSys},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      firstMoney = #{firstmoney,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>